:root{
  --first-clr: #e63946;
  --second-clr: #f1faee;
  --third-clr: #a8dadc;
  --fourth-clr: #457b9d;
  --fifth-clr: #1d3557;
}

 @import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700&family=Lato:wght@300&family=Merriweather&family=Montserrat:wght@100;400;900&family=Oswald&family=Overpass:wght@300;400;700&family=Poppins:wght@100;200;300;400&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&family=Sacramento&family=Sigmar+One&family=Ubuntu:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--second-clr);
  font-family: 'Montserrat', sans-serif;
}

/* welcome.... */
.welcome {
  background-color: var(--fourth-clr);
  margin: 15vh auto;
  height: 300px;
  min-width: 800px;
  width: 800px;
  border-radius: 3px;
  /* position: relative; */

}

.welcome h1 {
  text-align: center;
  margin-block-end: 2em;
  padding-block-start: 1em;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
}

.welcome .welcome-btn {
  /* margin: 0em 40%; */
  position: relative;
  left: 23em;
  padding: .8em 3em;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: .85em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 200ms ease-in;
}
.welcome .welcome-btn:hover {
  transform: scale(1.1);
}


/* Authorization Page... */
.auth-form{
  background-color: var(--fourth-clr);
  flex-direction: column;
  margin: 0 auto;
  padding: 2em 1em;
  height: 400px;
  width: 450px;
  border-radius: 5px;
}

.label input{
  margin-inline-start: 1em;
  padding: .25em .14em;
  border: none;
  border-radius: 1.5px;
}
.label input:focus{
  outline: none;
}

.label input[type = 'text'], [type = 'email'], [type = 'password'] {
  width: 50%;
}

.label input[type = 'email'] {
  margin-inline-start: 3.75em;
}
.label input[type = 'password'] {
  margin-inline-start: 1.35em;
}

.label:not(:last-child){
  margin-block-end: 2em;
}

.passwordLabel input[type = 'text'] {
  margin-inline-start: 1.35em;
}

.roles{
  margin-inline-start: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roles label:not(:last-child){
  display: inline-flex;
  margin-inline-end: 1em;
}
.roles label input {
  margin: 5px;
  cursor: pointer;
}


/* PASSWORD-TOGGLE-ICON... */
.password-wrapper{
  position: relative;
  
}

.password-toggle-btn{
  position: absolute;
  right: 27%;
  top: 50%;
  transform: translateY(-50%);
  
  border: none;
  cursor: pointer;
}



.cta .signUp-btn{
  padding: .5em 1em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 200ms ease-in;
}
.cta .signUp-btn:hover {
  transform: scale(1.1);
}
.cta p{
  margin-block-start: 1em;
  font-size: small;
}


/* LOGIN PAGE SECTION... */
.login-form{
  background-color: var(--fourth-clr);
  flex-direction: column;
  margin: 0 auto;
  padding: 3em 1em;
  height: 400px;
  width: 450px;
  border-radius: 5px;
}

/* ADMIN DASHBOARD START... */
.admin-header{
  background-color: var(--third-clr);
  padding: 2em 1em;
}
.admin-header h1{
  font-size: 2em;
}

.log-profile{
  margin-right: 2em;

  >.profile{
    background-color: #f1faee;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 1em;
  }

  >.profile-icon{
    position: relative;
    top: 15px;
    left: 18px;
    color: lightgray;
  }


}

/* .log-profile .profile{
  background-color: #f1faee;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1em;
} */

/* .log-profile .profile .profile-icon{
  position: relative;
  top: 15px;
  left: 18px;
  color: lightgray;
} */

/* ADMIN-BODY START... */
.admin-body-section{
  grid-template-columns: 25% 50% 25%;
  margin-block-start: 2em;
}

/* ASIDE-LEFT... */
.admin-body-section .admin-aside-left{
  min-height: 100vh;
  background-color: #457b9d;
}

.admin-body-section .admin-aside-left .aside-lists ul{
  padding-left: 1em;
  list-style: none;
  margin-top: 2em;
}
.admin-body-section .admin-aside-left .aside-lists ul li:not(:last-child){
  margin-bottom: 1.5em;
}


.admin-body-section {
  .admin-aside-left {

    .aside-lists ul li {
      width: 80%;
      padding-block: .35em;
      padding-left: 1em;
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }
  } 
}


.admin-body-section .admin-aside-left .aside-lists ul li:hover{
  background-color: #1d3557;
  width: 80%;
  padding-block: .35em;
  padding-left: 1em;
  color: #eee;
  cursor: pointer;
  transform: translateX(12px);
}

/* MODAL BOX - 1.... */

.modal-1{
  background-color: rgba(49, 49, 49, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;

  >.content{
    background-color: #eee;
    height: 500px;
    width: 600px;
    margin: 10vh auto;
    border-radius: 2px;
    position: relative;

    >.modal-1_icon{
      font-size: 2em;
      position: absolute;
      top: .5em;
      left: 17.5em;
      cursor: pointer;
    }

    >.label-info{
      padding: 5em 4em;

      >label {
        display: flex;

        >p{
          font-size:.95rem;
          margin-left: 1em;
          font-weight: bold;
        }
      }

      >label:not(:last-child){
        margin-bottom: 2em;
      }
    }
      
  }
}

/* MODAL-BOX-END... */

/* ADMIN-MODAL-ME- START... */
.modal-me{
  background-color: rgba(49, 49, 49, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;

  >.profile-modal{
    
    background-color: #eee;
    height: 550px;
    width: 800px;
    margin:  5vh auto;
    border-radius: 0;
    padding: 1em 1em;
  
    >label{
      display: flex;
      padding: 1em;
      font-weight: bold;
  
      >input{
        width: 30%;
        padding-block: .15em;
  
        &:focus{
          outline: none;
        }
      }
  
      & .label-firstName-text, .label-lastName-text{
        margin-left: 1.8em;
      }
  
      & .label-gender-text{
        margin-left: 3.5em
      }
  
      & .label-courses-text, .label-contact-text{
        margin-left: 3.2em;
      }
    }
  
    >label:not(:last-child){
      /* padding: .7em 3%; */
      margin-bottom: 1em;
    }
  
    .admin-me-cta{
      margin-inline: 1em;
      gap: 1em;
  
      >button{
        padding: .5em;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        transition: all 200ms ease-in-out;
  
        &:hover{
        transform: scale(1.1);
  
        }
      }
  
  
      >.cancel-btn{
        background-color: lightcoral;
      }
  
      >.confirm-btn{
        background-color: lightgreen;
      }
      
    }
  }

  
}



/* ADMIN-MODAL-ME- END... */

/* ADMIN-LEFT REPORT PAGE START... */
  .admin-report{

    .report-header{
      margin-block-start: 1em;
      margin-left: .5em;
      font-size: 2em;
      font-weight: bold;
    }

    .student-list{

      .student-links{
          text-decoration: none;
          color: inherit;

        .student{
          list-style: none;
          margin: 1.5em 1em;
          background-color: #ddd;
          padding: 2em 1em;
          border-radius: 2px;
          max-width: 1500px;
          cursor: pointer;
          transition: all 300ms ease-in-out;
  
            >p{
              margin-top: 1em;
            }
        }

      }

      

      .student:hover {
        border-left: 6px solid #1d3557;
        /* transition: all 300ms ease-in-out; */
        transform: scale(1.02);

      }
    }
  }
/* ADMIN-LEFT REPORT PAGE END... */

/* ADMIN-MAIN... */

.admin-body-section .admin-main{
  background-color: #e63946;

  /* ANALYTICS 1 & 2 */
  .analytics {
    justify-content: center;
    margin-top: 1em;

    .analy-1, .analy-2{
      background-color: #eee;
    height: 200px;
    width: 300px;
    border-radius: 2px;
    }

    .analy-2{
    margin-left: 2em;

    }
  }
  
  /* ANALYTICS-OVERALL... */
  .analytics-overall{
    background-color: #eee;
    height: 250px;
    width: 632px;
    margin: 2em auto;
    border-radius: 2px;
  }
  /* .main-footer{

  } */
}

/* ASIDE-RIGHT... */
.admin-body-section{
  >.admin-aside-right{
    background-color: #1d3557;

      >.aside-sched{
        background-color: #eee;
        height: 300px;
        width: 300px;
        margin: 1em auto;
        border-radius: 2px;
    }
  }

} 


/* ADMIN-BODY END... */

/* ADMIN DASHBOARD END... */






/* STUDENT DASHBOARD START... */

/* STUDENT HEADER START... */
.student-header{
  background-color: var(--fourth-clr);
  padding: 2em 1em;
}
.student-header h1{
  font-size: 2em;
}

.log-profile{
  margin-right: 2em;
}
.log-profile .profile{
  background-color: #f1faee;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1em;
}

.log-profile .profile .profile-icon{
  position: relative;
  top: 15px;
  left: 18px;
  color: lightgray;
}

/* STUDENT-MODAL-ME- START... */
.student-modal-me{
  background-color: rgba(49, 49, 49, 0.4);
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 100vh;
width: 100vw;

  >.profile{
    
    /* background-color: #eee; */
    height: 550px;
    width: 800px;
    margin:  5vh auto;
    border-radius: 2px;
    padding: 1em 1em;

    >.profile-container{
      >.profile-1{
        width: 50%;
  
        >label{
          display: flex;
          /* width: 150%; */
          padding: 1em;
          /* font-weight: bold; */
    
          >input{
            width: 50%;
            padding-block: .15em;
    
            &:focus{
              outline: none;
            }
          }
    
          & .label-firstName-text, .label-lastName-text{
            margin-left: 1.8em;
          }
    
          & .label-gender-text{
            margin-left: 3.5em
          }
    
          & .label-courses-text, .label-contact-text{
            margin-left: 3.2em;
          }
        }
  
      }
  
      >.profile-2{
        width: 50%;
        >label{
          display: flex;
          padding: 1em;
          /* font-weight: bold; */
    
          >input{
            width: 50%;
            padding-block: .12em;
    
            &:focus{
              outline: none;
            }
          }
    
          & .label-guardianNum-text{
            margin-left: 1.75em;
          }

          & .label-regNo-text{
            margin-left: 8.3em;
          }
    
          & .label-department-text{
            margin-left: 5em
          }
    
          & .label-homeAddress-text{
            margin-left: 3.6em;
          }

          & .label-secondContact-text{
            margin-left: 2.8em;
          }

          >.facial-recog-btn{
            background-color: #ddd;
            cursor: pointer;
            align-items: center;
            padding: .5em;
            margin-left: 1.5em;
            border-radius: 2px;
            /* border: none; */
            transition: all 200ms ease-in-out;

              &:hover {
                transform: scale(1.1);
              }
          }

          
        }
  
      }
    }
   
    

    >label:not(:last-child){
      /* padding: .7em 3%; */
      margin-bottom: 1em;
    }

    .admin-me-cta{
      margin-inline: 1em;
      gap: 1em;

      >button{
        padding: .5em;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        margin: 2em 1em;
        transition: all 200ms ease-in-out;

        &:hover{
        transform: scale(1.1);

        }
      }


      >.cancel-btn{
        background-color: lightcoral;
      }

      >.confirm-btn{
        background-color: lightgreen;
      }
      
    }
  }
}

/* STUDENT-MODAL-ME- END... */

/* STUDENT HEADER END... */



/* STUDENT BODY START... */

.admin-body-section{
  grid-template-columns: 25% 50% 25%;
  margin-block-start: 2em;
}

/* STUDENT ASIDE-LEFT START... */
.admin-body-section .admin-aside-left{
  min-height: 100vh;
  /* background-color: #457b9d; */
  background-color: var(--third-clr);
}

.admin-body-section .admin-aside-left .aside-lists ul{
  padding-left: 1em;
  list-style: none;
  margin-top: 2em;
}
.admin-body-section .admin-aside-left .aside-lists ul li:not(:last-child){
  margin-bottom: 1.5em;
}


.admin-body-section {
  .admin-aside-left {

    .aside-lists ul li {
      width: 80%;
      padding-block: .35em;
      padding-left: 1em;
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }
  } 
}


.admin-body-section .admin-aside-left .aside-lists ul li:hover{
  /* background-color: #1d3557; */
  background-color: var(--fourth-clr);
  width: 80%;
  padding-block: .35em;
  padding-left: 1em;
  color: #eee;
  cursor: pointer;
  transform: translateX(12px);
}

/* STUDENT-STATIC MODAL PROFILE...STARTS */

/* >.label-info{
  

  
} */
.student-label-info{

  padding: 5em 2em;


  >.label-info-1{
    >label {
      display: flex;
      /* font-weight: bold; */
  
      >p{
        font-size:.95rem;
        margin-left: 1em;
        font-weight: bold;
      }

      
    }
  
    >label:not(:last-child){
      margin-bottom: 2em;
    }
  }

  >.label-info-2{
    >label {
      display: flex;
      /* font-weight: bold; */
  
      >p{
        font-size:.95rem;
        margin-left: 1em;
        font-weight: bold;
      }
    }
  
    >label:not(:last-child){
      margin-bottom: 2em;
    }
  }
}


/* STUDENT-STATIC MODAL PROFILE...ENDS */


/* STUDENT ASIDE LEFT END... */

/* STUDENT-MAIN START... */

.admin-body-section .admin-main{
  /* background-color: #e63946; */
  background-color: var(--second-clr);

  /* ANALYTICS 1 & 2 */
  /* .analytics {
    justify-content: center;
    margin-top: 1em;

    .analy-1, .analy-2{
      background-color: #eee;
    height: 200px;
    width: 300px;
    border-radius: 2px;
    }

    .analy-2{
    margin-left: 2em;

    }
  } */
  
  /* ANALYTICS-OVERALL... */
  .student-overall{
    background-color: var(--fourth-clr);
    height: 450px;
    width: 632px;
    margin: 1em auto;
    border-radius: 2px;
  }
  /* .main-footer{

  } */
}

/* STUDENT-MAIN END */

/* ASIDE-RIGHT START... */
.admin-body-section{
  >.admin-aside-right{
    background-color: #1d3557;

      >.aside-sched{
        background-color: #eee;
        height: 300px;
        width: 300px;
        margin: 1em auto;
        border-radius: 2px;
    }
  }

} 

/* ASIDE-RIGHT END... */

/* STUDENT DASHBOARD END... */








/* RESPONSIVENESS... */

/* MOBILE... */
@media(max-width: 639px) {

  /* WELCOME PAGE... */
  .welcome{
    min-width: 450px;
    width: 300px;
  }
  .welcome .welcome-btn{
    left: 12.3em;
    padding: .8em 2em;
  /* margin: 0 35%; */

  }

  /* AUTHORIZATION PAGE... */
  .auth-form, .login-form{
    margin-block-start: 2em;
  }
  h1{
    margin-block: .5em;
    text-align: center;
  }
}





